include history.md
include LICENSE
include readme.md
include setup.py

include examples/demo.fasta
include examples/demo.fastq
include examples/demo.m8
include examples/demo.sam

include doc/UserManual.md

include humann2/tools/README.txt

include humann2/maintenance/README.md
include humann2/maintenance/metacyc_swissprot_trembl_reference_databases.md

prune humann2/quantify/MinPath

exclude humann2/data/misc/map_EC_to_triplet_AC_U50_U90_Swissprot_and_Trembl.txt.gz
exclude humann2/data/misc/map_infogo1000_uniref50.txt.gz
exclude humann2/data/misc/map_ko_uniref50.txt.gz
exclude humann2/data/misc/map_uniref90_name.txt.bz2
